---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  	<img src="https://lh6.googleusercontent.com/-UQQbIU1fIrM/ULRveungioI/AAAAAAAABWQ/R2yXs9WLq-A/w1004-h1008-no/facebook_-1038389358.jpg" class="post-profile-picture" style="height: 25% width: 25%">
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
